#page-ebook-7-passos {
  #primary-content {
    background: url(assets/images/ebook-7-passos/background.jpg) #FF5B5C top left no-repeat;
    // background-size: 100% auto;

    #main-header {
      height: 100px;
    }

    article {
      margin-top: 120px;
      color: $white;
      text-align: center;
      background: #FF5B5C;

      .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-bottom: 45px;
      }

      @media all and (max-width: 980px) {
        .content {
          width: 100% !important;
        }

        .ebook {
          display: none;
        }
      }

      .content {
        width: 70%;

        h2 {
          font-size: 50px;
        }

        p {
          margin: 15px 0 30px 0;
          font-size: 21px;
        }

        .action {
          display: inline-block;
          line-height: 60px;
          padding: 0 20px;
          width: 100%;
          max-width: 300px;
          font-size: 28px;
          font-weight: bold;
          color: $white;
          background-color: $orange;
          border-radius: 5px;
          border-bottom: 4px solid $orange-dark;
          transition: all linear 150ms;

          @media all and (max-width: 350px) {
            font-size: 24px;
          }

          &:hover,
          &:focus {
            text-decoration: none;
            border-color: lighten($orange-dark, 5);
            background-color: lighten($orange, 5);
          }
        }
      }

      .ebook {
        position: absolute;
        top: -145px;
        right: 0;
        width: 30%;

        img {
          width: 100%;
          border-radius: 4px;
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.50);
        }
      }
    }
  }

  #description {
    @extend .container;
    @extend .article;
    text-align: center;
    font-size: 21px;

    @media all and (max-width: 1000px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    p:not(:first-child) {
      margin-top: 50px;
    }
  }

  #form {
    max-width: 100%;
    padding: 50px 0;
    margin: 0;
    color: $white;
    background-color: $rocket;

    form {
      margin-top: 0;
    }

    p {
      font-size: 20px;
    }

    input {
      background-color: $white;
    }

    button {
      font-size: 28px;
    }
  }

  #footer-container {
    background-color: $rocket;

    &,
    #main-footer,
    #main-footer a {
      color: $white;
    }

    #main-footer {
      border-top-color: #EB5954;
    }
  }
}
