.home {
  background-color: #6C4FBB;
  background-image: url(../img/home/bg.png), url(../img/home/idea.png);

  background-repeat: no-repeat, no-repeat;

  background-position: right top, 20px bottom;

  @media (max-width: 1100px) {
    background-image: none;
  }

  padding: 50px 80px;

  @media (max-width: 700px) {
    padding: 50px 0;
  }

  color: #FFF;

  .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 700px) {
      padding: 0 20px;
    }

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
      height: auto;
      text-align: center;
    }

    .content {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 700px) {
          flex-direction: column;
        }

        .logo-community {
          display: flex;
          align-items: center;

          @media (max-width: 700px) {
            margin-bottom: 30px;
          }

          h1 {
            height: 40px;

            @media (min-width: 1100px) and (max-width: 1200px) {
              width: 36px;
              overflow: hidden;
            }
          }

          a {
            display: flex;
            align-items: center;
            padding-left: 20px;
            margin-left: 20px;
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            font-size: 14px;
            font-weight: 600;

            img {
              margin-right: 10px;
            }

            @media (min-width: 1100px) and (max-width: 1300px) {
              span { display: none; }
            }

            @media (max-width: 400px) {
              span { display: none; }
            }
          }
        }
      }

      h2 {
        font-weight: 300;
        font-size: 48px;
        max-width: 600px;

        @media (max-width: 500px) {
          font-size: 32px;
          line-height: 46px;
        }

        @media (max-width: 1100px) {
          margin: 80px 0;
        }

        span {
          font-weight: 700;
        }
      }

      footer {
        @media (max-width: 1100px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .newsletter {
          font-size: 18px;
          font-weight: 600;

          form {
            display: flex;
            margin-top: 15px;

            input[type=email] {
              background: #FFF;
              color: #666;
              height: 48px;
              padding: 0 20px;
              border-radius: 5px 0 0 5px;
              font-size: 14px;
              width: 100%;
              max-width: 280px;
            }

            button {
              background: #6ADC00;
              width: 60px;
              height: 48px;
              border-radius: 0 5px 5px 0;
              color: #FFF;

              &:hover {
                background: #61C505;
              }
            }
          }
        }

        .caption {
          margin-top: 20px;
          max-width: 320px;

          p {
            font-size: 13px;
            color: rgba(255, 255, 255, 0.7);
            line-height: 20px;
          }

          span {
            margin-top: 2px;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }

    .pilots {
      width: 100%;
      max-width: 500px;
      margin-left: 100px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media (max-width: 1100px) {
        margin: 50px 0 0;
      }

      .pilot {
        display: flex;
        align-items: center;

        @media (max-width: 1100px) {
          margin: 0 0 50px;
        }

        @media (max-width: 700px) {
          flex-direction: column;
        }

        .info {
          text-align: right;
          flex: 1;
          margin-right: 40px;

          @media (max-width: 700px) {
            margin: 30px 0 0;
            order: 2;
            text-align: center;
          }

          > strong {
            font-weight: 600;
            font-size: 24px;
          }

          p {
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            margin: 10px 0;

            strong {
              font-weight: 600;
            }
          }

          .links a {
            padding-left: 10px;
            font-size: 20px;

            &:hover {
              color: #6ADC00;
              text-decoration: none;
            }

            &:first-child {
              padding: 0;
            }
          }
        }

        .picture {
          width: 180px;
          text-align: center;
        }
      }
    }
  }
}
