.inscricao-confirmada {
  #primary-content {
    background: url(../img/brush.jpg) #FF5B5C top left no-repeat;

    section {
      padding: 100px 0 50px 0;
      color: $white;
      text-align: center;
    }

    .social-buttons a {
      color: $white;
    }
  }

  #main-header {
    height: 100px;

    .social-buttons {
      margin-left: 20px;
    }
  }

  #footer-container {
    border-top: 1px solid $grey-color-light;

    #main-footer {
      border: 0;
      margin-top: 0;
    }
  }
}
