.page-jumpstart {
  $theme: #2E2E38;

  #primary {
    $header: 98px;
    $footer: 181px;

    position: relative;
    color: $white;
    background: url(../img/space-bg.png) $theme top center no-repeat;
    z-index: 1;
    min-height: calc(100vh - 10px);

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;
      height: $header;

      .logo {
        display: flex;
        align-items: center;

        img:last-child {
          margin-left: 15px;
        }
      }
    }

    footer {
      text-align: center;
      padding: 10px 0 60px 0;
      height: $footer;

      span {
        display: block;
        font-size: 14px;
        color: $light;
        margin-bottom: 30px;
      }

      .call-action {
        width: 100%;
        max-width: 600px;
        padding: 10px 0;
        font-size: 36px;
      }
    }
  }

  #statements {
    padding-bottom: 60px;

    .container {
      h2 {
        color: $black;
        text-align: center;
        padding: 60px 0 50px 0;
        font-size: 42px;

        b {
          color: $rocket;
        }
      }

      > div {
        $space: 30px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 930px) and (min-width: 461px) {
          flex-wrap: wrap;

          blockquote {
            flex-basis: calc(50% - (#{$space} / 2));

            &:first-child,
            &:nth-child(2) {
              margin-bottom: ($space + 10px);
            }

            &:nth-child(2n) {
              margin-left: $space;
            }

            &:not(:nth-child(2n)) {
              margin-left: 0 !important;
            }
          }
        }

        @media screen and (max-width: 460px) {
          flex-direction: column;

          blockquote {
            &:not(:first-child) {
              margin-left: 0!important;
            }

            &:not(:last-child) {
              margin-bottom: ($space + 10px);
            }
          }
        }

        blockquote {
          color: $main-color-light;
          font-style: italic;
          font-size: 16px;

          &:not(:first-child) {
            margin-left: $space;
          }

          &:before {
            content: '“';
            display: block;
            height: 40px;
            transform: translateX(-10px);
            font-size: 60px;
            line-height: 1;
            font-weight: bold;
          }

          p {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 10px;
            font-weight: 300;
          }

          span {
            font-style: normal;
            font-weight: bold;
            text-transform: uppercase;
            color: $black;
            font-size: 14px;
          }
        }
      }
    }
  }

  #modulos {
    padding-bottom: 60px;
    color: $white;
    background-color: $rocket;

    h2 {
      text-align: center;
      padding: 60px 0 50px 0;
      font-size: 42px;
    }

    .container {
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        @extend .icon;
        color: #E14C4C;
        font-size: 320px;
      }

      &:before {
        content: "\e915";
        top: 60px;
        left: 0;
        transform: translateX(-90%);
        z-index: 0;
      }

      &:after {
        content: "\e914";
        bottom: -60px;
        right: 0;
        transform: translateX(130%);
        z-index: 0;
      }
    }

    #timeline {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;

      .track {
        $gap: 15px;
        $track: 5px + $gap;
        display: grid;
        grid-template-columns: calc(50% - #{$track}) #{$track} calc(50% - #{$track});
        grid-column-gap: $gap;

        &:first-child {
          span {
            border-radius: 3px 3px 0 0;
          }
        }

        &:last-child {
          span {
            border-radius: 0 0 3px 3px;
          }
        }

        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
          span {
            grid-column-start: 2;
          }
        }

        div {
          padding: 10px 0;
        }

        span {
          position: relative;
          width: 5px;
          height: 100%;
          background-color: $white;

          &:before {
            content: '';
            position: absolute;
            top: 18px;
            left: 3px;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: $white;
            transform: translateX(-50%);
          }
        }

        h3 {
          font-size: 32px;
          margin-bottom: 10px;
        }

        p {
          font-size: 18px;
          line-height: 1.6;
        }
      }
    }
  }

  #bonus {
    padding-bottom: 60px;

    h2 {
      text-align: center;
      padding: 60px 0 50px 0;
      font-size: 42px;
      color: $black;
    }
  }
}
