#primary {
  width: 100%;
  padding: 70px 0;
  background: url(../../assets/img/office.jpg) #CCC center top no-repeat;
  background-size: cover;

  @media all and (max-width: 570px) {
    br {
      display: none;
    }
  }

  @media all and (max-width: 820px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 70px 40px 40px 40px;
    border-radius: 5px;
    background-color: $white;
    text-align: center;

    h3 {
      font-weight: normal;
      font-size: 48px;
      color: $black;
      margin-bottom: 50px;

      @media all and (max-width: 520px) {
        font-size: 40px;
      }
    }

    ul {
      list-style: none;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;

      @media all and (max-width: 510px) {
        font-size: 20px;
      }

      li {
        &:before {
          content: '- ';
        }

        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }

    > span {
      display: block;
      margin: 50px 0 10px 0;
      color: lighten($default, 20);
    }

    .action {
      display: inline-block;
      line-height: 60px;
      padding: 0 20px;
      width: 100%;
      max-width: 450px;
      font-size: 28px;
      font-weight: bold;
      color: $white;
      background-color: $orange;
      border-radius: 5px;
      border-bottom: 4px solid $orange-dark;
      transition: all linear 150ms;

      @media all and (max-width: 350px) {
        font-size: 24px;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        border-color: lighten($orange-dark, 5);
        background-color: lighten($orange, 5);
      }
    }
  }
}
