.page-slack {
  #wrap {
    @include container();
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  #logo-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      display: flex;
    }

    a {
      display: inline-flex;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .logo {
      img:first-child {
        height: 50px;
        margin-right: 15px;
        animation: rocket 4s linear infinite alternate;
      }

      img:last-child {
        height: 40px;
      }
    }
  }

  .slack {
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    margin: 20px 0;
    background: url(../img/icons/slack.svg) 0 center no-repeat;
    background-size: 35px auto;
    color: $main-color-dark;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
}
