---
layout: default
---

{% include subscriptions_out.html %}

<div id="page-home">
  <section id="primary">
    <h2>A maior comunidade de programadores <br/>dispostos a mudar o mundo!</h2>
    <p>Decole suas ideias em velocidade recorde com as melhores ferramentas.</p>
  </section>

  <section id="video">
    <h3>Entenda como a RocketSeat vai lhe ajudar a <br/><strong>tirar sua ideias do papel!</strong></h3>

    <div class="responsive-iframe">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bMPXdM73nm8" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>

  {% include profiles.html %}
</div>
