---
title: RocketWeek a revolução das linhas de código
description: RocketWeek a revolução das linhas de código
layout: blank
class: page-rocketweek
---

<section id="primary">
  <div class="container">
    <div class="title">
      <h1>Rocket<b>Week</b></h1>
      <p>Tire sua ideia do papel e funde sua própria startup!</p>
    </div>
    <div class="content">
      <p>Uma semana inteira feita para programadores que acreditam que possam mudar o mundo através de linhas de código.</p>

      <div class="action">
        <p>Workshop de 09/07 a 15/07 - 100% online e gratuito</p>
        <a href="#" class="call-action">Junte-se à causa</a>
      </div>
    </div>
  </div>
</section>

<section id="secondary">
  <div class="container">
    <h2>Você quer tirar sua ideia do papel e fundar sua startup?</h2>
    <p>Durante essa semana vamos tratar sobre stack produtivas, empreendedorismo, marketing digital, investimento, sociedade e muito mais.</p>
    <a href="#" class="call-action">Gostei, tô dentro</a>
  </div>
</section>

<section id="cases">
  <div class="container article">
    <header>
      <h3>Conheça algumas startups fundadas por programadores</h3>
    </header>

    <div class="content">
      <article>
        <img src="{{ 'inscricao/airbnb.png' | asset_path }}">
        <h4>AirBnB</h4>
        <p>A startup foi fundada em 2008 na Califórnia por 3 sócios, entre eles, um desenvolvedor. Já está presente em mais de 192 países por volta de todo o mundo. </p>
      </article>
      <article>
        <img src="{{ 'inscricao/waze.png' | asset_path }}">
        <h4>Waze</h4>
        <p>A ideia foi fundada por um engenheiro de software em 2008. A startup ganhou o prêmio de melhor aplicativo mobile de 2013 e foi vendida ao Google em 2013 por 996 milhões de dólares.</p>
      </article>
      <article>
        <img src="{{ 'inscricao/sua-startup.png' | asset_path }}">
        <h4>Sua Startup</h4>
        <p>A sua startup pode ser reponsável pela próxima grande mudança do mundo, mas só você tem o poder de tirá-la do papel e por isso estamos aqui pra lhe ajudar.</p>
      </article>
    </div>

    <footer>
      <a href="#" class="call-action">Quero fundar minha startup!</a>
    </footer>
  </div>
</section>

{% include pilots.html %}

<div id="footer-container">
  <section id="form">
    <div class="form-default">
      <form action="http://hike.rocketseat.com.br/api/subscriptions" method="POST">
        <h3>Pré-lançamento</h3>
        <p>Faça sua inscrição agora e não perca a chance de mudar sua carreira</p>
        <input placeholder="Deixe seu melhor e-mail" name="data[email]" type="email" required>
        <input type="hidden" name="data[list_id]" value="10fb5e3e-2987-4c80-ae31-174e7b7c7cf9">
        <input type="hidden" name="data[redirect_url]" value="http://rocketseat.com.br/inscricao-enviada.html">
        <input type="hidden" name="data[confirm_redirect_url]" value="http://rocketseat.com.br/inscricao-confirmada.html">
        <button class="call-action" type="submit">Garantir minha vaga!</button>
      </form>
    </div>
  </section>

  {% include footer.html %}
</div>
