---
title: RocketWeek
description: RocketWeek - Uma semana para descobrir como tirar a ideia do papel e dar vida à sua startup
layout: blank
class: page-rocketweek
---

<section id="primary">
  <div class="container">
    <div class="title">
      <h1>Rocket<b>Week</b></h1>
      <p>Tire a ideia do papel e dê vida à sua startup</p>
    </div>

    <div class="content">
      <p>Uma semana para descobrir <b>o caminho que te leva da ideia à startup</b> da forma mais rápida e eficiente possível, diminuindo as incertezas e <b>aumentando as suas chances de sucesso</b></p>

      <div class="action">
        <p>De 24/07 a 30/07 <br> <strong>100% online e gratuito</strong></p>
        <a href="#" class="call-action">Garantir minha vaga</a>
      </div>
    </div>
  </div>
</section>

<section id="secondary">
  <div class="container">
    <h2>O que eu vou ver?</h2>

    <p>
      Na jornada do empreendedor toda ajuda é bem-vinda. Mesmo quando você acredita que já está no caminho certo. Pensando nisso a gente preparou uma semana para falar de assuntos como: qual a melhor stack para o desenvolvimento do seu MVP. Como ter boas ideias para fundar sua startup. Como utilizar o marketing digital nas diferentes fases do seu negócio. E quais são as metodologias enxutas que vão te ajudar a confirmar se você está mesmo na direção certa.
      <br>
      <br>
      Você vai conhecer ainda a história de programadores como eu e você que venceram as dificuldades de fundar uma startup e tiraram suas ideias do papel. E finalmente vai descobrir cada uma das etapas que te levam da ideia até a validação do seu negócio pelo caminho mais seguro, economizando tempo e esforço e aumentando suas chances de sucesso.
    </p>

    <br>
    <a href="#" class="call-action">Gostei, quero participar</a>
  </div>
</section>

{% include pilots.html %}

<div id="footer-container">
  <section id="form">
    <div class="form-default">
      <form action="http://hike.rocketseat.com.br/api/subscriptions" method="POST">
        <h3>Quero fundar minha startup!</h3>
        <p>Faça sua inscrição agora mesmo e descubra como tirar sua ideia do papel</p>

        <input placeholder="Deixe seu melhor e-mail" name="data[email]" type="email" required>
        <input type="hidden" name="data[list_id]" value="b262411a-f393-4b4d-a39b-1b55fd2ced25">
        <input type="hidden" name="data[redirect_url]" value="http://rocketseat.com.br/rocketweek-confirmada">
        <button class="call-action" type="submit">Garantir minha vaga</button>
      </form>
    </div>
  </section>

  {% include footer.html %}
</div>
