---
title: Sua inscrição para a RocketWeek está confirmada
description: Sua inscrição para a RocketWeek está confirmada
layout: blank
class: page-rocketweek confirmada
---

<section id="primary">
  <div class="container">
    <div class="image">
      <img class="revolution" src="{{ 'icons/revolution.svg' | asset_path }}"></img>
    </div>

    <div class="text">
      <div class="title">
        <h1>Inscrição confirmada</h1>
      </div>
      <div class="content">
        <p>Sua inscrição para a <strong>RocketWeek</strong> está confirmada.</p>
        <p>Até lá, fique você pode falar com a gente pelo e-mail <a href="mailto:oi@rocketseat.com.br">oi@rocketseat.com.br</a> e também participar da <strong><a href="https://join.slack.com/rocketseat/shared_invite/MjA2NTY5Mzk1OTU0LTE0OTg4NjAwMTAtYTY4YWYxY2FkMw" target="_blank">comunidade no slack</a></strong>.</p>
        <br/>
        <p>Ah, e não esqueça de acompanhar a gente nas redes sociais:</p>
        <br/>
        {% include social-buttons.html %}
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
