---
title: Workshop Jumpstart
description: Como avançar 2 anos em 2 meses na sua startup
layout: blank
class: page-workshop-inscricao confirmado
---

<section id="primary">
  <div class="container">
    <div class="title">
      <h1>Inscrição confirmada!</h1>
    </div>

    <div class="content">
      <p>Então é isso, temos um <b>encontro marcado para o dia 03/01 às 20h!</b></p>
      <p>Mas não se preocupe, vamos enviar um email para te lembrar até lá.</p>
      <p>Enquanto isso, aproveite o conteúdo das nossas redes sociais:</p>
      {% include social-buttons.html %}
    </div>
  </div>
</section>

{% include footer.html %}
