#page-workshop {
  #primary {
    .content {
      h3 {
        margin: 40px 0 45px 0;
      }

      p {
        margin-bottom: 15px;
      }

      .action {
        margin: 30px 0 10px 0;

        @media all and (max-width: 550px) and (min-width: 481px) {
          font-size: 24px;
        }

        @media all and (max-width: 480px) and (min-width: 430px) {
          font-size: 20px;
        }

        @media all and (max-width: 429px) and (min-width: 390px) {
          font-size: 16px;
        }

        @media all and (max-width: 389px) and (min-width: 341px) {
          font-size: 14px;
        }

        @media all and (max-width: 340px) {
          font-size: 12px;
        }
      }
    }
  }

  #form {
    p {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }
}
