<section id="faq">
  <header>
    <h2>Perguntas frequentes</h2>
  </header>
  <div class="container">
    <div class="dropdown">
      <div class="title">O que é o curso jumpstart?</div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro cupiditate corporis suscipit at nulla est voluptates pariatur sequi obcaecati ipsam a labore voluptatum, nostrum assumenda neque vero, mollitia saepe! Hic!</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="title">O que é o curso jumpstart?</div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro cupiditate corporis suscipit at nulla est voluptates pariatur sequi obcaecati ipsam a labore voluptatum, nostrum assumenda neque vero, mollitia saepe! Hic!</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="title">O que é o curso jumpstart?</div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro cupiditate corporis suscipit at nulla est voluptates pariatur sequi obcaecati ipsam a labore voluptatum, nostrum assumenda neque vero, mollitia saepe! Hic!</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="title">O que é o curso jumpstart?</div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro cupiditate corporis suscipit at nulla est voluptates pariatur sequi obcaecati ipsam a labore voluptatum, nostrum assumenda neque vero, mollitia saepe! Hic!</p>
      </div>
    </div>
  </div>
</section>
