<section id="faq">
  <header>
    <h2>Perguntas frequentes</h2>
  </header>
  <div class="container">
    <div class="dropdown">
      <div class="title">O que é o Jumpstart?</div>
      <div class="content">
        <p>Jumpstart é um curso prático e intensivo de 5 semanas para você transformar a sua ideia em uma startup. Nesse curso você vai aprender o passo a passo para construir o seu negócio seguindo o modelo de startup enxuta, aplicando cada uma das lições e metodologias aprendidas através de desafios e tarefas.</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="title">Qual o resultado esperado com o curso?</div>
      <div class="content">
        <p>Ao final do curso você deverá ter validado as principais hipóteses do seu negócio, entendido qual é a solução que realmente entrega valor para o seu cliente e transformado essa solução no seu MVP. Mas claro, tudo depende do seu esforço e dedicação ao aplicar cada uma das lições aprendidas.</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="title">Qual é o formato do curso?</div>
      <div class="content">
        <p>O Jumpstart é um curso 100% online, pra você assistir de qualquer lugar que possua uma conexão com a internet, no momento em que for melhor pra você.</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="title">Quando começa a próxima turma?</div>
      <div class="content">
        <p>Ainda não temos previsão, mas deixe seu e-mail na lista de espera e você será avisado.</p>
        <!--p>A próxima turma do Jumpstart <b>começa na segunda-feira dia 07/08</b>. E por isso o limite para as inscrições nessa turma é até sexta-feira dia 04/08 ao meio-dia.</p-->
      </div>
    </div>
    <div class="dropdown">
      <div class="title">Pra quem não é esse curso?</div>
      <div class="content">
        <p>Se você não tem a intenção de fundar uma startup, se não pretende tirar sua ideia do papel e não tem nenhuma vontade de empreender, ou se pensa em montar um negócio que não se encaixa no modelo de startups, esse curso não é pra você.</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="title">O que é uma startup?</div>
      <div class="content">
        <p>Startup é o estágio inicial de um negócio onde existem apenas duas certezas: você está em busca de inovação e o modelo será escalável. Se você tem dúvida se o seu negócio é ou não uma startup, entre em contato com a gente através do nosso canal no slack.</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="title">Pra quem é o curso?</div>
      <div class="content">
        <p>Se você pretende tirar sua ideia do papel e dar vida à sua própria startup, esse curso é pra você.</p>

        <dl>
          <dt><b>Minha ideia já está no ar mas não consigo clientes, o curso é pra mim?</b></dt>
          <dd>Sim. Nesse curso você vai entender como validar o seu produto e descobrir porque você não está na direção certa, dando um visão mais ampla para te ajudar a enxergar quais ações tomar ou mesmo em qual direção pivotar.</dd>
          <dt><b>Trabalho e não tenho tempo de tirar a ideia do papel, o curso é pra mim?</b></dt>
          <dd>Sim. Nós também tiramos nossas ideias do papel sem ter tempo e nem dinheiro. Esse é o verdadeiro valor do empreendedor, e sua chance de não passar o resto da vida imaginando como teria sido se tivesse tentado.</dd>
          <dt><b>Não sou programador ou sei muito pouco de programação, o curso é pra mim?</b></dt>
          <dd>Sim. Porque uma das partes mais importantes da sua startup será justamente o seu time, e se você não é bom com programação, uma das suas tarefas será encontrar um sócio que seja. De uma coisa você pode ter certeza: você não vai chegar em lugar nenhum sozinho.</dd>
          <dt><b>Não tenho uma ideia, esse curso é pra mim?</b></dt>
          <dd>Com certeza. Além de sempre existir a possibilidade de fazer parte de um time que já possua uma ideia, você vai entender que o que não falta no mundo são problemas que precisam ser resolvidos, e cada um deles é uma oportunidade de negócio.</dd>
        </dl>
      </div>
    </div>
    <!--div class="dropdown">
      <div class="title">Qual é a garantia?</div>
      <div class="content">
        <p>Nos 30 primeiros dias após a inscrição, caso o aluno por qualquer motivo ache que o curso não entregou muito mais que o esperado, basta enviar um e-mail para <b>oi@rocketseat.com.br</b> dizendo que deseja fazer o cancelamento da inscrição. Dessa forma terá o cancelamento efetuado e 100% do valor pago devolvido. Sem ressentimentos.</p>
      </div>
    </div-->
  </div>
</section>
