<footer id="main-footer">
  <ul>
    <li><a href="/termos-de-uso.html">termos de uso</a></li>
    <li><a href="/politica-de-privacidade.html">políticas de privacidade</a></li>
  </ul>

  <q>Quando te oferecem um assento em um foguete, você não pergunta qual assento. <b>Você simplesmente embarca</b>.</q>
  <cite>- Eric Schmidt, Google</cite>

  <div class="copyright">
    &copy; 2017 RocketSeat. Feito com {% img 'icons/heart.svg' alt='<3' %} no <a href="http://fb.com/covalley" target="_blank">CoValley</a>
  </div>
</footer>

{% js main %}
