<header id="main-header">
  <div id="logo-wrap">
    {% include logo.html %}
    <a href="https://join.slack.com/rocketseat/shared_invite/MTg5NzgzNjY3Nzc2LTE0OTYyMzQxNDctMWQ3ZmVkMDZkNg" class="slack" target="_blank">Entre no slack!</a>
  </div>

  <nav id="main-menu">
    <ul>
      <li><a href="/">Inicío</a></li>
      <!-- <li><a href="/quem-somos">Quem somos</a></li> -->
      <li><a href="/blog">Blog</a></li>
      <li><a href="/videos">Vídeos</a></li>
      <li><a href="/jumpstart">Jumpstart</a></li>
    </ul>
  </nav>
</header>
