<section id="profiles">
  <header>
    <h2>Quem são os pilotos?</h2>
  </header>
  <div class="wrap">
    <div class="profile">
      <span><img src="{{ 'pilots/cleiton-souza.jpg' | asset_path}}" alt="Cleiton Souza" /></span>
      <h3>Cleiton Souza</h3>
      <p>Programador full-stack no estilo "think twice, code once". Trabalhando com desenvolvimento web há mais de 6 anos, tem uma paixão secreta por Laravel + Vue.js.</p>
      <div class="social">
        <a href="https://github.com/cleitonsouza" target="_blank" class="github"><i class="icon-github"></i></a>
        <a href="https://www.linkedin.com/in/cleiton-souza-829a0b7a/" target="_blank" class="linkedin"><i class="icon-linkedin"></i></a>
      </div>
    </div>

    <div class="profile">
      <span><img src="{{ 'pilots/diego-fernandes.jpg' | asset_path}}" alt="Diego Fernandes" /></span>
      <h3>Diego Fernandes</h3>
      <p>Programador full-stack no estilo "10x". Codando para a web há mais de 7 anos, suas maiores paixões são Laravel + ReactNative.</p>
      <div class="social">
        <a href="https://github.com/diego3g" target="_blank" class="github"><i class="icon-github"></i></a>
        <a href="https://www.linkedin.com/in/diego-schell-fernandes-9b2102120/" target="_blank" class="linkedin"><i class="icon-linkedin"></i></a>
      </div>
    </div>

    <div class="profile">
      <span><img src="{{ 'pilots/robson-marques.jpg' | asset_path}}" alt="Robson Marques" /></span>
      <h3>Robson Marques</h3>
      <p>Programador back-end no estilo "dinossauro". Envolvido com programação desde 1994, sua paixão é sem dúvida o empreendedorismo.</p>
      <div class="social">
        <a href="https://github.com/robsonmarques" target="_blank" class="github"><i class="icon-github"></i></a>
        <a href="https://www.linkedin.com/in/coding/" target="_blank" class="linkedin"><i class="icon-linkedin"></i></a>
      </div>
    </div>
  </div>
</section>
