<div class="social">
  <a target="_blank" href="http://facebook.com/rocketseat" title="Facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a target="_blank" href="http://instagram.com/rocketseat_oficial" title="Instagram">
    <i class="fa fa-instagram"></i>
  </a>
  <a target="_blank" href="http://twitter.com/rocketseat" title="Twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a target="_blank" href="http://medium.com/rocketseat" title="Medium">
    <i class="fa fa-medium"></i>
  </a>
  <a target="_blank" href="http://youtube.com/rocketseat" title="Youtube">
    <i class="fa fa-youtube-play"></i>
  </a>
</div>
