<div class="social-buttons">
  <a href="https://www.youtube.com/channel/UCSfwM5u0Kce6Cce8_S72olg" target="_blank" class="youtube">
    <i class="icon-youtube"></i>
  </a>
  <a href="https://www.facebook.com/rocketseat" target="_blank" class="facebook">
    <i class="icon-facebook"></i>
  </a>
  <a href="https://www.twitter.com/rocketseat" target="_blank" class="twitter">
    <i class="icon-twitter"></i>
  </a>
  <a href="https://www.instagram.com/launchbase" target="_blank" class="instagram">
    <i class="icon-instagram"></i>
  </a>
</div>
