@mixin container($padding: true) {
  display: block;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;

  @if ($padding == true) {
    @media all and (max-width: 1000px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
