@charset "utf-8";

$rocket: #FD5A5A;

$white: #FFF;
$light: #999;
$default: #666;
$black: #212121;

$orange: #FFB33D;
$orange-dark: #AD772C;

/* main vars */
$base-font-family: 'Source Sans Pro', Arial, sans-serif;

$main-color:       $default;
$main-color-light: #999;
$main-color-dark:  #333;

$grey-color:       #999;
$grey-color-light: lighten($grey-color, 26.5%);
$grey-color-dark:  darken($grey-color, 40%);

$content-width: 1070px;
