#main-footer {
  @extend .container;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  text-align: center;
  border-top: 1px solid $grayDark;
  font-size: 14px;
  color: $light;

  ul {
    color: #666;
    margin-bottom: 30px;
    list-style: none;

    li {
      display: inline-block;
      padding: 0 10px;
    }

    a {
      &:hover,
      &:focus {
        color: $black;
      }
    }
  }

  cite {
    margin-top: 5px;
    font-size: 11px;
    font-style: normal;
  }

  .copyright {
    padding: 20px 0;

    a {
      font-weight: bold;
    }
  }
}
