#page-subscribe {
  &.fail {
    h3 {
      margin-bottom: 10px;
    }
  }

  #primary .content {
    .error-message {
      color: #C72424;
    }

    p {
      margin-top: 10px;
    }
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    margin-top: 50px;

    strong {
      margin-bottom: 15px;
    }

    span {
      font-size: 18px;
    }

    input,
    button {
      width: 100%;
      max-width: 600px;
      line-height: 60px;
    }

    input {
      padding: 0 20px;
      margin: 0 0 15px 0;
      border: 1px solid $gray;
      border-radius: 5px;

      &:first-of-type {
        margin-top: 10px;
      }

      &::placeholder {
        color: lighten($default, 30);
      }
    }

    button {
      display: inline-block;
      padding: 0 20px;
      font-weight: bold;
      color: $white;
      font-size: 28px;
      background-color: $orange;
      border-radius: 5px;
      border-bottom: 4px solid $orangeDark;
      transition: all linear 150ms;

      &:hover,
      &:focus {
        text-decoration: none;
        border-color: lighten($orangeDark, 5);
        background-color: lighten($orange, 5);
      }
    }

    small {
      margin-top: 10px;
      color: $light;
    }
  }
}

#page-subscribe-confirmed {
  #primary {
    p {
      margin-top: 15px;

      a {
        text-decoration: underline;
      }
    }
  }
}
