.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBFBFB;

  #main-header {
    justify-content: center;
    height: auto;

    h1 {
      max-width: calc(100% - 40px);
      width: 380px;

      img {
        &:first-child {
          height: 70px;
          animation: rocket 4s linear infinite alternate;
        }

        &:last-child {
          width: 280px;
          margin-left: 10px;
        }
      }
    }
  }
}

@keyframes rocket {
  0% {
    transform: rotate(0deg) translateY(0) translateZ(0);
  }

  14% {
    transform: rotate(2deg) translateY(4%) translateZ(0);
  }

  28% {
    transform: rotate(0deg) translateY(8%) translateZ(0);
  }

  42% {
    transform: rotate(-2deg) translateY(4%) translateZ(0);
  }

  56% {
    transform: rotate(0deg) translateY(0) translateZ(0);
  }

  70% {
    transform: rotate(2deg) translateY(-4%) translateZ(0);
  }

  84% {
    transform: rotate(0deg) translateY(-8%) translateZ(0);
  }

  100% {
    transform: rotate(-2deg) translateY(-4%) translateZ(0);
  }
}
