.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBFBFB;

  #main-header {
    justify-content: center;
    height: auto;

    h1 {
      max-width: calc(100% - 40px);
      width: 380px;

      img {
        &:first-child {
          height: 70px;
          animation: rocket 2s linear infinite alternate;
        }

        &:last-child {
          width: 280px;
          margin-left: 10px;
        }
      }
    }
  }
}

@keyframes rocket {
  0% {
    transform: rotate(0deg) translateY(0) translateZ(0);
  }

  25% {
    transform: rotate(3deg) translateY(5%) translateZ(0);
  }

  50% {
    transform: rotate(0deg) translateY(10%) translateZ(0);
  }

  75% {
    transform: rotate(-3deg) translateY(5%) translateZ(0);
  }

  100% {
    transform: rotate(0deg) translateY(-10%) translateZ(0);
  }
}
