$rocket: #FD5A5A;

$white: #FFF;
$light: #999;
$default: #666;
$black: #212121;

$grey-color-light: #EDEDED;
$grey-color: #F4F4F4;
$grey-color-dark: #DDDDDD;

$orange: #FFB33D;
$orange-dark: #AD772C;
