.custom-radio {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 15px;
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 50%;

  &:after {
    content: '';
    width: 0;
    height: 0;
    background-color: $white;
    border-radius: 50%;
    transition: all linear 150ms;
    transform: tranlateZ(0deg);

    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus,
  &.active {
    background-color: rgba($white, .08);
  }

  &.active {
    &:after {
      width: 18px;
      height: 18px;
      visibility: visible;
      opacity: 1;
      z-index: 1;
    }
  }
}
