#main-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  margin-top: 50px;
  text-align: center;
  border-top: 1px solid #EEE;
  font-size: 14px;
  color: $light;

  ul {
    color: $main-color;
    margin-bottom: 30px;
    list-style: none;

    li {
      display: inline-block;
      padding: 0 10px;
    }

    a {
      color: #666;

      &:hover,
      &:focus {
        color: $black;
      }
    }
  }

  cite {
    margin-top: 5px;
    font-size: 11px;
    font-style: normal;
  }

  .copyright {
    padding: 20px 0;
    font-size: 13px;

    .icon-heart {
      color: #FF3333;
    }

    a {
      font-weight: bold;
    }
  }
}
