.form-default {
  @include container();
  @extend .article;
  width: 100%;
  max-width: 860px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 1.6;

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    margin-top: 50px;

    strong {
      margin-bottom: 15px;
    }

    span {
      font-size: 18px;
    }

    input,
    button {
      width: 100%;
      max-width: 600px;
      line-height: 60px;
    }

    input {
      padding: 0 20px;
      margin: 0 0 15px 0;
      border: 1px solid $grey-color;
      border-radius: 5px;

      &:first-of-type {
        margin-top: 30px;
      }

      &::placeholder {
        color: lighten($main-color, 30);
      }
    }
  }
}
