.social-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: $white;
    border-radius: 2px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all linear 150ms;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover,
    &:focus {
      opacity: .8;
      text-decoration: none;
      color: $white;
    }

    i {
      line-height: 1;
    }
  }

  .youtube {
    color: #CD201F;
  }

  .facebook {
    color: #3B5998;
  }

  .instagram {
    color: #E1306C;
  }

  .twitter {
    color: #1DA1F2;
  }
}
